{% extends "event/base_ephem.html" %}

{% block title %} {{ draft }} Event Ephemeris {{ year }} {% endblock %}

{% block content %}
<style>
    thead {
        font-size:20px;
        text-decoration:underline
    }
    td {
     /* font-family: "Courier New", Courier, monospace; */
        font-family  : "Courier New", Courier, monospace;
     /* font-size    : 13px; */
        padding-right: 20px;
    }
</style>
<h1>{{ draft }} Event Ephemeris {{ year }}</h1>
  <table width: 100%>
  <tbody>
  <thead>
      {% if draft %} <td>draft</td> {% endif %}
        <td>event</td>
        <td>place</td>
        <td>date</td>
        <td>start time</td>
        <td>sunset - twilight</td>
        <td>moon</td>
  </thead>
  {% for event in events %}
    <tr {% if not event.planned %}
            style="text-decoration:line-through; background:#ffab00;"
        {% endif %}>
        {% if draft %} <td> {% if event.draft %} y {% endif %} </td> {% endif %}
        <td> {{ event.name }} </td>
        <td> {{ event.location }} </td>
        <td> {{ event.date_time|date:"D M d"  }} </td>
        <td> {{ event.date_time|time:"h:i A" }} </td>
        <td> {{ event.sunset }} </td>
        <td> {{ event.moon }} </td>
    </tr>
  {% endfor %}
  </tbody>
  </table>
{% endblock %}

