{% extends "announce/base.html" %}

{% block title %} {{ channel }} Announcements {{ year }} {% endblock %}

{% block content %}
<style>
    thead {
        font-size:20px;
        text-decoration:underline
    }
    td {
     /* font-family: "Courier New", Courier, monospace; */
     /* font-family  : "Courier New", Courier, monospace; */
     /* font-size    : 13px; */
        padding-right: 20px;
    }
</style>
<h1>{{ channel }} : {{ period }}</h1>
  {% if bad_period %}
    <p> Start must be <b>before</b> end.</p>
  {% elif not announces %}
    <p> No matching announcements found.</p>
  {% endif %}
  {% for ann in announces %}
      <table width="700">
          <col width="20%">
          <col width="80%">
      <tbody>
        <tr>
             <td valign"top"> {{ ann.date }} </td>
             <td> <b> {{ ann.name }} </b> </td>
        </tr>
        <tr> <td></td><td> {{ ann.time        }} </td> </tr>
        <tr> <td></td><td> {{ ann.location    }} </td> </tr>
        <tr> <td>&nbsp</td> </tr>
        <tr> <td></td><td> {{ ann.text | safe }} </td> </tr>
  {% if ann.question %}
        <tr> <td align="right">question</td>   <td> {{ ann.question }}   </td> </tr>
  {% endif %}
  {% if ann.rsvp_limit %}
        <tr> <td align="right">RSVP limit</td> <td> {{ ann.rsvp_limit }} </td> </tr>
  {% endif %}
  {% if ann.notes %}
        <tr> <td align="right">notes</td>      <td> {{ ann.notes }}      </td> </tr>
  {% endif %}
      </tbody>
      </table>
    <hr align="left" width="700">
  {% endfor %}
{% endblock %}
